/* Write your CSS here */
.list-items {
  list-style-type: none;
  margin: 18px;
}
.list-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.tab-button {
  border-color: red;
}
